:root {
    --cards-color: rgb(226,231,227);
    --header-footer-border: rgb(240,219,203);
    --cards-title-border: rgb(1,108,138);
}


body {
    background-color: rgb(112,181,192)
}

.h3 {
    border-bottom: 2px solid var(--cards-title-border);
}

/* Header Style Start */
header {
    border-bottom: 2px solid var(--header-footer-border)
}
/* Header Style End */


/* Style Cards Start */
.buttons-card {
    height: 200px;
    background-color: rgb(112,181,192);
    padding-bottom: 10px;
}

.indexes-card {
    height: 375px;
    background-color: var(--cards-color);
}

.indexes-card li {
    line-height: 40px;
}

.news-card {
    height: 375px;
    background-color: var(--cards-color);
}

.topStocks-card {
    height: 375px;
    background-color: var(--cards-color);
}
/* Style Cards End */


/* Buttons Style Start */
.btn {
    background-color: rgb(1,108,138);
}
/* Buttons Style End */


/* Footer Style Start */
footer {
    border-top: 2px solid var(--header-footer-border)
}
/* Footer Style End */

.navbar {
    background-color: rgb(112,181,192)
}