:root {
    --cards-color: rgb(226,231,227);
    --cards-title-border: black;
}


body {
    background-image: url(../images/topStocksBridge2.jpg);
    background-size: cover;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.h3 {
    border-bottom: 2px solid var(--cards-title-border);
}

/* Header Style Start */

/* Header Style End */


/* Style Cards Start */
.buttons-card {
    height: 75px;
    
}

.indexes-card {
    height: 375px;
    background-color: silver;
}


.indexes-card li {
    line-height: 40px;
}

.news-card {
    height: 375px;
    background-color: silver;
    opacity: 0.6
}

.news-card:hover {
    opacity: 1;
}

.topStocks-card {
    height: 375px;
    background-color: silver;
}

/* Style Cards End */

/* Style Ticker Card Start */

.description {
    font-weight: bold;
}

.list-group li {
    font-weight: bold;
}

/* Style Ticker Card End */


/* Buttons Style Start */
.btn {
    background-color: rgb(99,99,99);
    color: white;
}

/* .btn:hover {
    background-color: white;
    color: black;
} */

/* Buttons Style End */


/* Footer Style Start */

/* Footer Style End */

/* Navbar Style Start */
footer {
    background-color: none;
    color: silver;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid silver;
    padding: 0.5rem;

}

.navbar1 {
    background-color: rgb(237,233,233);
    width: 100%;
    position:fixed;
    opacity: 0.95;
}

.navbar1:hover {
    opacity: 0.9;
}

/* Navbar Style End */
